body {
  background-color: #f4f5f6;
  color: #333;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-family: "Droid Serif", serif;
  font-size: 15px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}

main {
  padding: 0 15px;
  margin: 0 auto;
}

.text-decoration {
  text-decoration: none;
}

.font-size16 {
  font-size: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

ul {
  list-style: none;
}

.flexak {
  display: flex;
}

/* header */

nav {
  background-color: #040444;
}

.nav1,
.nav2,
.nav3 {
  display: none;
}

.remove-widthak {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.header-logo {
  display: block;
  max-width: 85%;
  margin: 0 auto;
}

.img-logo-head {
  margin: 0 auto;
}

.social-link {
  justify-content: space-evenly;
  margin-bottom: 0;
}

.fa {
  color: white;
  font-size: 20px;
}

.fa:hover,
.social-link > li > a:hover {
  text-decoration: underline;
  text-decoration-color: gray;
  color: white;
}

/* main section */

.main-sectionak {
  background-image: url(assets/footballbg.jpeg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(115, 114, 114, 0.5));
  background-blend-mode: overlay;
  height: 460px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .main-sectionak::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
} */

/* .search-main {
  padding-top: 20px;
  margin-bottom: 50px;
} */

.search-box {
  max-width: 500px;
  margin: 0 auto;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* tri color */

.part1 {
  background-color: rgba(255, 128, 0);
  padding: 10px;
}

.part2 {
  background-color: rgba(255, 255, 255);
}

.part3 {
  background-color: rgba(0, 128, 0);
}

.no-display {
  display: ;
}

.img-inside {
  height: 128px;
}
