body {
  background-color: #f4f5f6;
  color: #333;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}

main {
  padding: 0 15px;
  margin: 0 auto;
}

.text-decoration {
  text-decoration: none;
}

.font-size16 {
  font-size: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.flexak {
  display: flex;
}

/* header */

nav {
  background-color: #040444;
}

.nav1,
.nav2,
.nav3 {
  display: none;
}

.remove-widthak {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.header-logo {
  display: block;
  max-width: 65%;
  margin: 0 auto;
}

.img-logo-head {
  margin: 0 auto;
}

.social-link {
  justify-content: center;
  margin-bottom: 0;
  padding: 0 30px;
  background-color: #ffffff;
}

.icon-class > li {
  display: block;
  text-align: center;
  padding: 7px 9px 14px;
  text-decoration: none;
  margin: 0;
  font-family: "Droid Serif", serif;
}

.icon-class > li > a {
  color: #040444;
  font-size: 15px;
}

.social-link > li > a:hover {
  text-decoration: underline;
  text-decoration-color: #040444;
}
.padding-tricolor {
  padding: 65px 40px;
}
/* main section */

.main-sectionak {
  background-image: url(assets/footballbg.jpeg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(115, 114, 114, 0.5));
  background-blend-mode: overlay;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-search {
  background-color: #040444;
}

.step-icons {
  font-size: 2.5em;
}

/* .main-sectionak::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
} */

/* .search-main {
  padding-top: 20px;
  margin-bottom: 50px;
} */

.search-box {
  max-width: 500px;
  margin: 0 auto;
  height: 175px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* tri color */

.part1 {
  background-color: rgba(255, 128, 0);
}

.part2 {
  background-color: rgba(255, 255, 255);
}

.part3 {
  background-color: rgba(0, 128, 0);
}

.no-display {
  display: none;
}

.img-inside {
  height: 128px;
}

.new-class-try {
  padding-top: 11%;
}

.main-text {
  font-size: 32px;
  font-family: "Droid Serif", serif;
  line-height: 1.5em;
}

/* Search page  */

.search-filter {
  background-color: rgba(208, 208, 208, 0.4);
  height: 475px;
  margin-top: 45px;
}

.filter1 {
  padding: 0 35px;
}

.form-control-filter {
  width: 100%;
}

/* cards */

.card-container {
  margin: 0 auto;
}

.card-1 {
  width: 311px;
  margin: 0 auto 35px;
  border: 2px solid black;
}

.card-image {
  max-width: 170px;
  margin: 22px auto 0;
  height: 170px;
}

.border-top-card {
  border-top: 1px solid black;
}

.h5-update-text {
  font-size: 18px;
}
/* mediaqueries */

@media only screen and (min-width: 768px) {
  .main-sectionak {
    height: 560px;
  }

  .icon-class > li {
    padding: 10px 9px;
    text-decoration: none;
    margin: 0 14px;
  }

  .icon-class > li > a {
    font-size: 18px;
  }
  .search-filter {
    height: 375px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-text {
    font-size: 40px;
  }

  .icon-class > li > a {
    font-size: 20px;
  }

  .search-filter {
    height: 300px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-sectionak {
    height: 780px;
  }

  .search-box {
    max-width: 675px;
  }

  .padding-tricolor {
    padding: 65px 150px;
  }

  .new-class-try {
    padding-top: 11%;
  }

  .icon-class > li {
    padding: 10px 9px;
    text-decoration: none;
    margin: 0 20px;
  }

  .icon-class > li > a {
    font-size: 22px;
  }

  .search-filter {
    height: 300px;
  }
}
